# End-of-line normalization should not be attempted for text files
* -text
# Definitively text files
*.xml text
*.java text
*.properties text
*.html text
*.xhtml text
*.jsp text
*.jsf text
*.js
*.css
*.txt text
*.c text
*.h text
# Ensure those won't be messed up with
*.jpg binary
*.png binary
*.doc* binary
*.ppt* binary
*.od* binary
*.pdf binary
*.asta binary
